#Main {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0; left: 0;
    font-family: AeonikMono-Regular, monospace;
    font-family: Aeonik-Bold, sans-serif;
    -webkit-tap-highlight-color: rgba( 0,0,0,0);
    
    user-select: none;
}

#TopArea {
    text-shadow: -1px -1px 4px var(--appTextShadowColor), 1px -1px 4px var(--appTextShadowColor), -1px 1px 4px var(--appTextShadowColor), 1px 1px 4px var(--appTextShadowColor);

    position: fixed;
    top: 0; left: -5px;
    right: -5px;
    padding: env(safe-area-inset-top) 10px 4px 10px;
    // width: 100%;
    backdrop-filter: blur(10px) saturate(20);
    font-size: 30px;
    box-shadow: inset 0px -2px 5px var(--appBackgroundColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    > div {
        display: flex;
        align-items: center;
        height: 50px;
        // width: 100%;
    }

    #RefreshBtnHolster {
        filter: drop-shadow( 0px 0px 9px var(--appBackgroundColor));

        #RefreshBtn {
            background-color: var(--appTextColor);
            height: 40px;
            width: 40px;
            border-radius: 100vh;
        }    
    }
}

