
@font-face {
  font-family: 'Aeonik-Bold';
  src: url('/fonts/Aeonik/Aeonik-Bold.woff2') format('woff2'),
      url('/fonts/Aeonik/Aeonik-Bold.woff') format('woff');
  font-weight: normal; font-style: normal; font-display: swap;
}

@font-face {
  font-family: 'Aeonik-BoldItalic';
  src: url('/fonts/Aeonik/Aeonik-BoldItalic.woff2') format('woff2'),
      url('/fonts/Aeonik/Aeonik-BoldItalic.woff') format('woff');
  font-weight: normal; font-style: normal; font-display: swap;
}

@font-face {
  font-family: 'Aeonik-Regular';
  src: url('/fonts/Aeonik/Aeonik-Regular.woff2') format('woff2'),
      url('/fonts/Aeonik/Aeonik-Regular.woff') format('woff');
  font-weight: normal; font-style: normal; font-display: swap;
}

@font-face {
  font-family: 'Aeonik-RegularItalic';
  src: url('/fonts/Aeonik/Aeonik-RegularItalic.woff2') format('woff2'),
      url('/fonts/Aeonik/Aeonik-RegularItalic.woff') format('woff');
  font-weight: normal; font-style: normal; font-display: swap;
}

@font-face {
  font-family: 'Aeonik-Light';
  src: url('/fonts/Aeonik/Aeonik-Light.woff2') format('woff2'),
      url('/fonts/Aeonik/Aeonik-Light.woff') format('woff');
  font-weight: normal; font-style: normal; font-display: swap;
}

@font-face {
  font-family: 'Aeonik-LightItalic';
  src: url('/fonts/Aeonik/Aeonik-LightItalic.woff2') format('woff2'),
      url('/fonts/Aeonik/Aeonik-LightItalic.woff') format('woff');
  font-weight: normal; font-style: normal; font-display: swap;
}


@font-face {
  font-family: 'AeonikMono-Bold';
  src: url('/fonts/AeonikMono/AeonikMono-Bold.woff2') format('woff2'),
      url('/fonts/AeonikMono/AeonikMono-Bold.woff') format('woff');
  font-weight: normal; font-style: normal; font-display: swap;
}


@font-face {
  font-family: 'AeonikMono-Regular';
  src: url('/fonts/AeonikMono/AeonikMono-Regular.woff2') format('woff2'),
      url('/fonts/AeonikMono/AeonikMono-Regular.woff') format('woff');
  font-weight: normal; font-style: normal; font-display: swap;
}

@font-face {
  font-family: 'AeonikMono-Light';
  src: url('/fonts/AeonikMono/AeonikMono-Light.woff2') format('woff2'),
      url('/fonts/AeonikMono/AeonikMono-Light.woff') format('woff');
  font-weight: normal; font-style: normal; font-display: swap;
}

@font-face {
  font-family: 'AeonikFono-Bold';
  src: url('/fonts/AeonikFono/AeonikFono-Bold.woff2') format('woff2'),
      url('/fonts/AeonikFono/AeonikFono-Bold.woff') format('woff');
  font-weight: normal; font-style: normal; font-display: swap;
}

@font-face {
  font-family: 'AeonikFono-Regular';
  src: url('/fonts/AeonikFono/AeonikFono-Regular.woff2') format('woff2'),
      url('/fonts/AeonikFono/AeonikFono-Regular.woff') format('woff');
  font-weight: normal; font-style: normal; font-display: swap;
}

@font-face {
  font-family: 'AeonikFono-Light';
  src: url('/fonts/AeonikFono/AeonikFono-Light.woff2') format('woff2'),
      url('/fonts/AeonikFono/AeonikFono-Light.woff') format('woff');
  font-weight: normal; font-style: normal; font-display: swap;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

:root {
  --appBackgroundColor: white;

  --appTextColor: black;
  --appTextShadowColor: var(--appBackgroundColor);

}
@media (prefers-color-scheme: dark) { 
  :root{
    --appBackgroundColor: black;

    --appTextColor: white;
  }    
}


html {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  padding: 0;
  background-color: var(--appBackgroundColor);
  color: var(--appTextColor);
  transition: background-color 1s, color 1s;

}
